<footer>
    <div class="grid-container">
        <div class="grid-x">
            <div class="large-7 medium-12 cell left-side">
                <div class="footer-content">
                    <div class="address">
                        <p>Optricon Unit 21, Titan Court, Laporte Way, Luton, Bedfordshire, LU4 8EF, Uk</p>
                        <div class="grid-x grid-margin-x site-map ">
                            <div class="cell shrink"><a href="#">Site Map</a></div>
                            <div class="cell shrink"><a href="#">/Privacy</a></div>
                            <div class="cell shrink"><a href="#">/Terms </a></div>
                            <div class="cell shrink"><a href="#">/Site By Verto </a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="large-5 medium-12 cell right-side">
                <div class="footer-content">
                    <div class="contact-info">
                        <p class="phone">Phone: +1 123-456-7890</p>
                        <p class="email">Email: info@example.com</p>
                        <div class="social-icons">
                            <!-- Add social icons here -->
                            <a class="right-bordered" href="#"><i class="fab fa-facebook"></i>  </a> 
                            <a class="right-bordered" href="#"><i class="fab fa-twitter"></i>  </a>
                            <a class="right-bordered" href="#"><i class="fab fa-linkedin"></i>  </a>
                            <a class="right-bordered" href="#"><i class="fab fa-youtube"></i>  </a>
                            <a href="#"><i class="fab fa-google"></i>  </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
