<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <!--  header content here -->
    </header>

    <main>
        @RenderBody() <!-- This renders the content of the individual views -->
    </main>

    <footer>
        <!--  footer content here -->
    </footer>
</body>
</html>
