<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!-- Material Icon CDN -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- Include Foundation CSS -->
    <link rel="stylesheet" href="~/foundation/css/foundation.min.css">
    <link rel="stylesheet" href="~/style.css">

    <!-- Include Foundation JavaScript -->
    <script src="~/foundation/js/vendor/jquery.js"></script>
    <script src="~/foundation/js/vendor/what-input.js"></script>
    <script src="~/foundation/js/vendor/foundation.min.js"></script>

    <!-- Initialize Foundation -->
    <script>
        $(document).foundation();
    </script>

</head>

<body>

    @Html.Partial("_TopBar") <!-- Include the top bar partial view -->



    <main>
        @RenderBody() <!-- This renders the content of the individual views -->
    </main>

    <footer>
        <!--  footer content here -->
    </footer>


    <script src="foundation/js/vendor/jquery.js"></script>
    <script src="foundation/js/vendor/what-input.js"></script>
    <script src="foundation/js/vendor/foundation.js"></script>
    <script src="foundation/js/app.js"></script>
</body>

</html>
