<!-- Start Top Bar -->
<div class="header-container">
  <div class="header">

    <div class="grid-x align-justify ">

      <div class="cell shrink align-left">

        Company Logo

      </div>
      <div class="cell shrink align-right hide-for-large">
        <button class="grid-x align-middle ">
          <div class="menu-label">Menu</div>
          <div>
            <span class="menu-g-icon material-symbols-outlined">
              menu
            </span>
          </div>
        </button>
      </div>
    </div>
    <div class="grid-x align-justify options align-middle">

      <div class="cell auto   align-left ">
        <div class="menu-items grid-x align-left show-for-large">
          <div class="menu-item cell shrink">Our Products</div>
          <div class="menu-item cell shrink">Where to buy</div>
          <div class="menu-item cell shrink">News & Reviews</div>
          <div class="menu-item cell shrink">Help & Support</div>
          <div class="menu-item cell shrink">My Option</div>
        </div>
      </div>
      <div class="cell shrink align-right">
        <div class="grid-x align-justify search-box">
          <div class="cell shrink">
            <input type="text" placeholder=" " />
          </div>
          <div class="search-icon cell align-left align-middle shrink">
            <span class="material-symbols-outlined search-g-icon">
              search
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- End Top Bar -->